.menu{
    background-color: black;
    padding: 8px 10px;
}
.hang{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 25px;
}

.trai{
    display: flex;
    align-items: center;
    color : white;
    gap : 26px;
}
.phai{
    display: flex;
    gap : 5px;
}
.tim{
    border-radius: 5px;
}
.btn.btn-dark{
    border: 1px solid white;
}
.tim:focus::placeholder{
    color : transparent;
}
.tieude{
    display: flex;
    justify-content: space-between;
}
.add{
    background-color: rgb(47, 114, 214);
    width: 70px;
    align-items: center;
    color : white;
    border-radius: 5px;
    border: 1px solid rgb(37, 94, 200);
}
.table{
    border : 1px solid rgb(234, 237, 242)
}
